@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
    }

    body {
      background-image: url(/bg/pexels-karola-g-5412235.jpg);
      text-align: center;
      padding: 20px;
    }

    #lamp {
      width: 100px;
      height: 100px;
      background-color: black;
      border-radius: 50%;
      margin: 30px auto;
      transition: background-color 0.1s;
    }

    .container {
      display: none;
      justify-content: center;
      gap: 30px; /* odstęp między kolumnami */
      flex-wrap: wrap; /* na małych ekranach kolumny przechodzą pod siebie */
      margin-top: 30px;
    }

    table {
      border-collapse: collapse;
      width: 250px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      border-radius: 8px;
      overflow: hidden;
      margin-top: 80px;
    }

    @media (max-width: 600px) {
      .container {
        flex-direction: column;
        align-items: center;
      }
    }

    button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.input {
 border: none;
 padding: 1rem;
 border-radius: 1rem;
 background: #e8e8e8;
 box-shadow: 20px 20px 60px #c5c5c5,
		-20px -20px 60px #ffffff;
 transition: 0.3s;
}

.input:focus {
 outline-color: #e8e8e8;
 background: #e8e8e8;
 box-shadow: inset 20px 20px 60px #c5c5c5,
		inset -20px -20px 60px #ffffff;
 transition: 0.3s;
}

#rules {
    width: 100%;
    height: 100%;
    margin: 40px auto;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}